<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :user_type %><br />
    <%= f.select :user_type, options_for_select(User::PROFILE), {:multiple => FALSE} %>
  </p>
  <p><%= f.submit %></p>
<% end %>
