<% title "User" %>

<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @user.phone %>
</p>
<p>
  <strong>User Type:</strong>
  <%=h User::PROFILE.invert[@user.user_type.to_s] %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
